.Jezu{height:7500px; width:1080px;float:left;margin-top:20px;}
.Header{height:450px;width:1080px;background-color:black; float:left;}
.main11{height:60px;width:100px;padding-top:10px;float:left;margin-left:30px;}
.main12{height:60px;width:160px;padding:10px;float:left;}
.main13{height:60px;width:600px;padding:10px;float:left;}
.Head1{height:300px;width:595px;float:left;margin-left:70px;}
.Head2{height:300px;width:300px;float:left;background-color:white;}
.Main{height:600px; width:1080px; float:left; margin-top:100px;font-size:30px; }
.M1{height:500px;width:600px;float:left;padding:20px;}
.M2{height:500px;width:420px;float:left; padding-top:100px;}
.Link{height:400px; width: 1080px; font-size:30px;float:left;padding-left:50px;}
.Saint{height:5500px;width:1080px;margin-top:50px;float:left;margin-right:20px;}
.S1{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px;}
.S2{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.S3{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.S4{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.S5{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.S6{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.S7{height:700px;width:1000px;float:left;font-size:27px; padding-left:50px; margin-top:200px;}
.pic{height:800px;width:1080px;padding:20px;float:left; margin-top:100px; margin-left:10px; padding-left:40px;}